body{
    background-image: url(images/background.jpg);
}

.score-board{
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.game-board{
    width: 900px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.box{
    color: rgba(0, 0, 0, 0);
    width: 98px;
    height: 98px;
    transition: background-image 1s, transform 1s;
    background-repeat: no-repeat;
    background-size: cover;
}

.c1{background-image: url(images/red_candy.png);}
.c2{background-image: url(images/blue_candy.png);}
.c3{background-image: url(images/green_candy.png);}
.c4{background-image: url(images/orange_candy.png);}
.c5{background-image: url(images/purple_candy.png);}
.c6{background-image: url(images/yellow_candy.png);}

[data-toberemoved]{
    transform: scale(1.3);
}
